<!DOCTYPE html>
    
    <style>
        .player {
            float: left;
            width: auto;
            margin: 75px;
        }
        .container {
            clear: both;
        }
        .header {
            margin-left: 50px;
        }
    </style>
    
    <head>
        <a href='/'>Home</a>
    </head>
    
    <body>
        <h1 class='title'>
            Futbol Fantasy
        </h1>
        <h2 class='header'></h2>
        <div class='outer-container'>
        </div>
    </body>
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $('.header').html(decodeURI('<%= country %>'));
        $.getJSON('/players/countryJSON/' + '<%= country %>', function(data) {
            var toAdd = "<div class='container'>"
            var count = 0;
            $.each(data, function(index, element) {
                toAdd += "<div class='player'><h2>" + element.name + "</h2><br><img src='" + element.imageURL + "'></img><br>Likes: " + element.votes + "<br>Country: " + decodeURI(element.team) + "<br>Position: " + element.position + "<br><form><button type='submit' formaction='" + "<%= country %>" + "/" + element.name + "/up' formmethod='post'>;)</button><button formaction='" + "<%= country %>" + "/" + element.name + "/down' formmethod='post'>:/</button></form></div>"
                count++;
                if (count == 3) {
                    toAdd += "</div><div class='container'>"
                    count = 0;
                }
            });
            toAdd += "</div>"
            $('.outer-container').html(toAdd);
        });
    </script>

</html>